<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nice to meet you</title>

</head>
<body>
<button id="submit">전송</button>
    <script>
	document.getElementById("submit").addEventListener("click", submitToServer);
	
	function setCookie(cookie_name, value, days) {
		  var exdate = new Date();
		  exdate.setDate(exdate.getDate() + days);
		  // 설정 일수만큼 현재시간에 만료값으로 지정

		  var cookie_value = escape(value) + ((days == null) ? '' : '; expires=' + exdate.toUTCString());
		  document.cookie = cookie_name + '=' + cookie_value;
		}
		
		function getCookie(name) {
			var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
			return value? value[2] : null;
		};
		
	function submitToServer() {
		
			httpRequest = new XMLHttpRequest();
			
			if(!httpRequest) {
			  alert('XMLHTTP 인스턴스를 만들 수가 없어요 ㅠㅠ');
			  return false;
			}
			httpRequest.onreadystatechange = alertContents;
			httpRequest.open('GET', 'http://localhost:8080/userinfo/info/email/jasuil@daum.net');
			httpRequest.withCredentials = true;
			//httpRequest.setDisableHeaderCheck = true;
			//httpRequest.setRequestHeader("Access-Control-Allow-Origin", "localhost:3000")
	
			httpRequest.send();
		  }

		  function alertContents() {
			if (httpRequest.readyState === XMLHttpRequest.DONE) {
			  if (httpRequest.status === 200) {
				alert(httpRequest.responseText);
			  } else {
				alert('request에 뭔가 문제가 있어요.');
				location.href="/user/createUser.html";
			  }
			}
		}
    </script>
</body>
</html>